* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  -webkit-text-size-adjust: none;
}

body {
  position: fixed;
  vertical-align: bottom;
  width: 100vw;
  max-width: 30rem;
  height: 100vh;
  margin: auto auto 0 auto;
  font-family: RussoOne, sans-serif;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  background: black;
  color: white;
}

button {
  font-family: RussoOne, sans-serif;
}

#display {
  display: grid;
  /* width: 92vw; */
  margin: 0 5vw 0 3vw;
  grid-template-columns: 44% 12% 44%;
  /* align-content: end; */
}
#input,
#output {
  font-size: 5vh;
  font-family: RobotoReg;
  border: 0.1rem solid darkgray;
  border-radius: 0.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  padding: 0.5vh 0.5vh 0.5vh 0;
}
#arrow {
  font-size: 5vh;
  text-align: center;
  /* padding-top: 1.5vh; */
  margin: auto;
  color: orange;
  font-family: RobotoReg;
}
#selector-box {
  display: grid;
  width: 95vw;
  margin: 0.5rem auto 0 auto;
  grid-template-columns: auto 30% auto;
}
.select-box {
  height: fit-content;
  width: 100%;
  margin-left: auto;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  overflow: hidden;
}
#feeSel,
#targetSel,
#originSel {
  width: 90%;
  margin-left: auto;
  border: 0;
  font-size: 3vh;
  font-family: RobotoReg;
  background: gray;
  color: white;
  outline: none;
}
option {
  padding: 0;
  text-align: left;
  width: fit-content;
}
.button-container {
  display: grid;
  max-height: 80%;
  height: 60vh;
  width: calc(0.75 * 60vh);
  margin: 0.5rem auto 0 auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-item button {
  font-size: 7vh;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background: gray;
  color: white;
  border: 0.5rem solid black;
  border-radius: 50%;
}
button#eq {
  background: orange;
}
button#C {
  background: lightgray;
  color: black;
}

header {
  font-size: 4vh;
  padding: 1vh 0 1vh 0;
  text-align: center;
  color: orange;
}
footer {
  text-align: center;
}

@font-face {
  font-family: calcFont;
  src: url(../res/Calculator.ttf);
}
@font-face {
  font-family: RussoOne;
  src: url(../res/RussoOne-Regular.ttf);
}
@font-face {
  font-family: RobotoReg;
  src: url(../res/Roboto-Regular.ttf);
}
