* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  -webkit-text-size-adjust: none;
}

body {
  position: fixed;
  vertical-align: bottom;
  width: 100vw;
  max-width: 30rem;
  height: 100vh;
  max-height: 70rem;
  margin: auto auto 0 auto;
  font-family: RussoOne, sans-serif;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  background: black;
  color: white;
}

button {
  font-family: RussoOne, sans-serif;
}

#display {
  display: grid;
  width: 100%;
  grid-template-columns: 44% 12% 44%;
  /* align-content: end; */
}
#selector-box {
  display: grid;
  grid-template-columns: auto 35% auto;
  margin-top: 0.5rem;
}
.select-box {
  height: fit-content;
  width: 100%;
  margin-left: auto;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  overflow: hidden;
}
#feeSel,
#targetSel,
#originSel {
  width: 90%;
  margin-left: auto;
  border: 0;
  font-size: 2rem;
  font-family: RobotoReg;
  background: gray;
  color: white;
  outline: none;
}
option {
  padding: 0;
  text-align: left;
  width: fit-content;
}
#input,
#output {
  font-size: 3rem;
  font-family: RobotoReg;
  border: 0.1rem solid darkgray;
  border-radius: 0.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 93%;
  margin-left: auto;
  /* font-family: calcFont; */
  text-align: right;
  /* margin: 0 0.2rem 0 0; */
  /* padding: 0.5rem 0.5rem 0 0; */
  /* height: 100%; */
  /* width: 100%; */
}
#output{
  margin: 0 auto 0 0;
}
#arrow {
  font-size: 2.5rem;
  text-align: center;
  /* padding: 1rem 0 0 0.5rem; */
  padding-top: 0.5rem;
  color: orange;
  font-family: RobotoReg;
}
.button-container {
  /* width: fit-content; */
  display: grid;
  /* max-height: 80%; */
  /* width: calc(0.75 * height); */
  margin: 0.5rem auto 0 auto;
  width: fit-content;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-rows: auto auto auto auto; */
  grid-template-columns: repeat(3, 7rem);
  grid-template-rows: repeat(4, 7rem);
}

.grid-item button {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background: gray;
  color: white;
  border: 0.5rem solid black;
  border-radius: 50%;
}
button#eq {
  background: orange;
}
button#C {
  background: lightgray;
  color: black;
}

header {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: orange;
}
/* #feeSelBox { */
/* width: fit-content; */
/* margin: 0 auto; */
/* font-size: 2rem; */
/* color: white; */
/* background: black; */
/* border-color: black; */
/* } */
footer {
  text-align: center;
}

@font-face {
  font-family: calcFont;
  src: url(../res/Calculator.ttf);
}
@font-face {
  font-family: RussoOne;
  src: url(../res/RussoOne-Regular.ttf);
}
@font-face {
  font-family: RobotoReg;
  src: url(../res/Roboto-Regular.ttf);
}
